


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kiupi - Bangladesh Best Online Shopping Store</title>
  {{ content_for_header }}
</head>
<body>
  {{ content_for_layout }}
  <h1>Main Site</h1>
</body>
</html>